nav {
  padding: 10px 2%;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-left .menu-icon {
  width: 22px;
  margin-right: 25px;
}

.nav-left .logo {
  width: 90px;
}
.nav-middle .search-box {
  border: 1px solid #ccc;
  margin-right: 15px;
  padding: 8px 12px;
  border-radius: 25px;
}
.nav-middle .search-box input {
  width: 400px;
  border: 0;
  outline: 0;
  background: transparent;
}
.nav-middle .search-box img {
  width: 15px;
}

.nav-right img {
  width: 25px;
  margin-right: 25px;
}
.nav-right .user-icon {
  width: 35px;
  border-radius: 50%;
}
.clear-icon {
  cursor: pointer;
  margin-left: 8px;
  width: 16px; 
  height: 16px;
}

.country-flag-container {
  cursor: pointer;
  
}

.country-flag {
  width: 20px; /* Ajusta el tamaño de la bandera */
  height: 25px; /* Ajusta el tamaño de la bandera */
  border: solid 1px #000000;
  border-radius: 50%;
}

.country-select-dropdown {
  position: absolute;
  top: 30px; /* Ajusta la posición según el diseño */
  left:-2px;
  background-color: white;
  border-radius: 0 0 5px 5px;
  /* border: 1px solid #ccc; */
  padding: 5px;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.country-select-dropdown img {
  width: 20px; /* Ajusta el tamaño de las banderas del dropdown */
  height: 20px;
  cursor: pointer;
  margin-bottom: 5px;
}

.country-flag-display{
  display: flex;
  /* align-items: center; */
}

.nav-right {
  position: relative; /* Esto permite posicionar el dropdown correctamente */
}



@media (max-width: 900px){
  .menu-icon{
      display: none;
  }
  .nav-right img{
      display: none;
  }
  .nav-right .user-icon{
      display: block;
      width: 30px;
  }
  .logo{
      width: 90px;
  }
  .nav-middle .mic-icon{
      display: none;
  }
  .nav-middle .search-box input{
      width: 100px;
   }
  
}